body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: black;
  overflow: hidden;
}


#p5-canvas-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

a {
  color: wheat;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

.landing-page-container {
  /* background-color: bisque; */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

.main-link-box {
  text-align: center;
  font-size: 20px;
  margin-top: -60px;
}